<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ this.title }}</h2>
                <h3 class="section-subheading text-muted">{{ this.subtitle }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    {{ this.body }}
                    <li class="timeline-inverted">
                      <div class="timeline-image">
                        <h4>{{ this.tail|safe }}</h4>
                      </div>
</li>
                </ul>
            </div>
        </div>
    </div>
</section>
